@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a;
  color: #ffffff;
  /* Hapus baris font-family di sini, biarkan Tailwind yang mengurusnya */
}