@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }


  html, body {
    background-color: #121321; 
    color: #ffffff;
    
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }

  html::-webkit-scrollbar, 
  body::-webkit-scrollbar {
    display: none;
  }
  
  *::-webkit-scrollbar {
    display: none;
  }
  * {
    scrollbar-width: none;
  }
}